
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Bartle&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
     font-family: "Poppins", sans-serif;
}

body{
  font-family: "Poppins", sans-serif;
}
.login-container{
    margin-left: 15%;
    margin-top: 5%;
    max-width: 30%;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    
}
.login-form input{
    padding: 10px 5px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    outline: none;
    

}
.login-message{
    color: red;
}
.login-button{
    padding: 15px 5px;
    cursor: pointer;
    background-color: #101540;
    color: white;
    border: none;
    border-radius: 10px;
}
.login-logo{
    position: absolute;
    left: 50%;
    top: 10%;
    width: 500px;
}
.nav-bar-container{
    background-color: #101540;
    color: white;
    margin-top: 2px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;

 
}
.nav-bar-items{
    display: flex;
    justify-content: space-around;
}
.logout-button{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: large;
    padding: 5px 5px;
    border-radius: 5px;
}
.logout-button:hover{
  background-color:lightblue;
  color: black;


}
.welcome-text{
    text-align: center;
    margin-top: 2px;
    font-weight: 500;
}
.dash-board-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.overview-text{
    position: absolute;
    font-size: larger;
    text-decoration: underline;
    top:20%;
   text-align: center;
}
.chart{
    width: 85%;
    height: 290px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px;
}
.left-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px #8F8F8F;
    width: fit-content;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    gap: 10px;
}
.left-container p{
    font-weight: 500;
}
.left-container b{
    font-size: small;
    font-weight: 300;
}
.right-container-one,.right-container-two{
    margin-top: 20px;
}
.right-container-one{
    /* background-color: #8F8F8F; */
    
}
 .right-container-two{
    /* background-color: #8F8F8F; */
    
 }
 .loader {
      border: 4px solid #f3f3f3; 
      border-top: 4px solid #3498db; 
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite; 
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

/* .dashboard-container{
    background-color: #8F8F8F;
} */
/* .product-details{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 2%;
} */

/* .product-detail-card{
    position: relative;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    width: 30%;
    padding: 35px 10px;
    text-align: center;
    margin-left: 2%;
    background-color: white;
  
} */
/* .product-detail-card p ,b{
    margin-top: 10px;
}
.product-detail-card b{
    font-size: small;
    font-weight: 500;
} */
.low-stock{
    color: red;
}
/* .overview-text{
    position:absolute;
    top: 1%;
 

} */
/* .least-expensive-text{
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: center;
    
} */
/* .most-expensive-text{
    position: absolute;
    top: 20%;
    left: 65%;

} */
/* .stats-container{
    position: relative;
    display: flex;
    justify-content: center;
  
} */
 /* .least-expensive-product,.most-expensive-product{
    border: 1px solid #8F8F8F;
    background-color: white;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 2%; 
    padding: 35px 15px; 
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    width: 45%;
    
}
.least-expensive-product b,.most-expensive-product b{
    font-weight: 500;
}  */
.all-product-button,.add-product-button,.dashboard-button{
    background-color: transparent;
    color: white;
    border: none;
    font-size:medium;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}
.all-product-button:hover ,.add-product-button:hover,.dashboard-button:hover{
    background-color: lightblue;
    color: black;
}
.path-underline{
    text-decoration: underline;
    color: white;
}
.products-text{
    text-align: center;
}
.search-container{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    box-shadow: 0px 4px 8px 0 #8F8F8F;
    padding: 10px;
    border-radius: 5px;
}
.search-container input{
    outline: none;
    width: 20%;
    border: 1px solid #8F8F8F;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
}
.search-container select{
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}
.edit-product-text{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    text-decoration: underline;
}
.add-product-text{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
    text-decoration: underline;

}
.add-product-message{
    color:red;
}
.edit-product-message{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    text-decoration: underline;
}
.edit-product-message{
    color: red;
}
/* .products{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 1%;
    width: 100%;
    gap: 20px;
  
}
.product-container{
    border: 1px solid black;
    border-radius: 5px;
    max-width: 100%;
    width: 15%;
    padding: 5px 100px  1px 10px;
    cursor: pointer;

} */
.single-product{
    margin: auto;
    margin-top: 200px;
}
.category{
    display: flex;
    gap: 10px;
}
.price-stock{
    display: flex;
    gap: 20px;
}
.single-product-buttons{
    display: flex;
    gap: 5px;
}
.single-product-buttons button{
    width: 50%;
    padding: 5px 10px;
    cursor: pointer;
}
.edit-product{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    
}
.edit-product input{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}
.edit-product button{
    padding: 10px;
    cursor: pointer;
}
.add-new-product{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
}
.add-new-product input{
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}
.add-new-product button{
    padding: 10px;
    cursor: pointer;
}
.low-stock-products{
    margin: auto;
}
h3::first-letter{
    text-transform: uppercase;
}
p::first-letter{
    text-transform: uppercase;
}
@media screen and (max-width:600px){
    .overview-text{
        display: none;
    }
    .left-container{
        width: fit-content;
    }

}
